nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 10px;
    height: 72px;
}

.logo > img{
    height: 100px;
    padding-top: 10px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
.menu li {
    font-size: 20px;
    cursor: pointer;
}

.login button {
    all: unset;
    padding: 6px 16px;
    background: black;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    height: 20px;
    cursor: pointer;
}